@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Sofadi+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Playpen Sans", cursive;
  /* transition: 0.3s; */
  /* font-family: "Sofadi One", system-ui ; */
}

.blurBg {
  background: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.rotate {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
